/* 顶部横导航 */
.yidong {
    left: 540px;
}
.genzong a:nth-of-type(1):hover ~ .yidong {
    left: 300px;
}

/* 打字机 */
.gekai {
    margin: 0 auto 96px;
}
.gekai:before {
    left: 11%;
    content: "C-L-A-S-S-I-C-A-L";
}

/* 经典比赛 */
/* 比赛1 */
.bisai1 {
    position: relative;
    height: 600px;
    width: 84%;
    box-shadow: 5px 5px 15px #82a8e2;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    /* transition: all 0.5s ease-in-out; */
}
.bisai1 > h1 {
    /* color: #1e88e5; */
    font-size: 2.6rem;
    color: #417ec4;
    margin: 20px 0 10px 30px;
}
.bisai1 > h4 {
    color: #2a89e7;
    margin: 0 0 10px 30px;
}
/* 右半边 */
.bisai1 > .you1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 600px;
    background-color: #70acf0;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}
span[class="you1"] > img {
    position: absolute;
    right: 34px;
    width: 64%;
    top: 60px;
    border-radius: 10px;
    transition: 0.3s;
}
span[class="you1"] > img:hover {
    transform: rotate(3deg);
    box-shadow: 5px 5px 15px 5px #d2dff5;
}

/* 左半边 */
.bisai1 > .zuo1 {
    position: absolute;
    left: 30px;
    margin-top: 50px;
    width: 420px;
    height: 300px;
    border-top: 4px double #8db6f3;
    border-bottom: 4px double #8db6f3;
    padding: 15px 0;
    /* box-shadow: 5px 5px 15px #82a8e2; */
}
.bisai1 > .zuo1 > h2 {
    color: #5192e7;
    margin: 0 0 10px 0px;
}
.bisai1 > .zuo1 > p {
    color: #54a3f1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 8px;
}
/* 了解更多 */
.genduo {
    position: absolute;
    right: 6%;
    transform: translateY(-32px);
    width: 66px;
    height: 13px;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    line-height: 13px;
    font-size: 15px;
    color: #1b83eb;
    background-color: #fff;
    border: 2px solid rgb(103, 165, 246);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
.genduo:hover {
    color: #fff;
    transform: translateY(-33px);
    background-color: rgb(103, 165, 246);
    box-shadow: 2px 2px 6px 0px #70acf0;
}

/* 第2场 */
.bisaity {
    position: relative;
    width: 84%;
    height: 640px;
    box-shadow: 5px 5px 15px #82a8e2;
    border-radius: 10px;
    margin: 46px auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f3f3f3;
}
.bisaibj2 {
    /* background-color: rgb(233, 233, 233); */
    position: absolute;
    width: 58%;
    left: 0;
    height: 100%;
    background-color: #70acf0;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}
.bisaity2 {
    width: 85%;
    position: absolute;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 15px 0 rgba(251, 245, 245, 0.6);
    color: #fff;
}
.bisaity2 >img {
    position: absolute;
    width: 38%;
    border-radius: 10px;
    left: 24px;
    top: 30px;
}
.bisaity2 >img:hover {
    /* transform: rotate(3deg); */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: zhuan3deg 0.6s forwards;
}
@keyframes zhuan3deg {
    0% {
    box-shadow: 5px 5px 15px 5px #e8eeff;
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
    box-shadow: 5px 5px 15px 5px #e8eeff;
    }
}
.youwen {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 47%;
    /* background-color: pink; */
}
.youwen > h2 {
    color: #5192e7;
    margin: 0 0 10px 0px;
    transform: translateX(10px);
}
.youwen > p {
    color: #54a3f1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 8px;
}
.youwen > p:first-of-type {
    transform: translateX(10px);
}
.youwen > p:nth-of-type(2) {
    /* background-color: khaki; */
    width: 90%;
    float: right;
}

/* 第3场 */
.bisaibj3 {
    /* background-color: rgb(233, 233, 233); */
    position: absolute;
    width: 60%;
    right: 0;
    height: 100%;
    background-color: #70acf0;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}
.bisaity3 {
    width: 85%;
    position: absolute;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 15px 0 rgba(251, 245, 245, 0.6);
    color: #fff;
}
.bisaity3 > .zuowen {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 47%;
}
.bisaity3 > .zuowen > h2 {
    color: #5192e7;
    margin: 0 0 10px 0px;
}
.bisaity3 > .zuowen > p {
    color: #54a3f1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 20px;
    width: 85%;
}
.bisaity3 > img {
    position: absolute;
    width: 40%;
    height: 440px;
    right: 20px;
    top: 20px;
    border-radius: 10px;
}
.bisaity3 > img:hover {
    animation: zhuan3deg 0.6s forwards;
}

/* 第4场 */
.bisaibj4 {
    /* background-color: rgb(233, 233, 233); */
    position: absolute;
    width: 58%;
    left: 0;
    height: 100%;
    background-color: #70acf0;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}
.bisaity4 {
    width: 85%;
    position: absolute;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 15px 0 rgba(251, 245, 245, 0.6);
    color: #fff;
}
.youwen4 {
    position: absolute;
    right: 30px;
    width: 46%;
    top: 22px;
}
.youwen4 > h2 {
    color: #5192e7;
    margin: 0 0 10px 0px;
}
.youwen4 > p {
    color: #54a3f1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 20px;
}
.youwen4 > p:nth-of-type(2) {
    position: absolute;
    width: 93%;
    right: 0;
}
.bisaity4 > img {
    position: absolute;
    width: 36%;
    left: 28px;
    top: 24px;
    border-radius: 10px;
}
.bisaity4 > img:hover {
    animation: zhuan3deg 0.6s forwards;
}

/* 第5场 */
.bisaibj5 {
    /* background-color: rgb(233, 233, 233); */
    position: absolute;
    width: 58%;
    right: 0;
    height: 100%;
    background-color: #70acf0;
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0 100%);
}
.bisaity5 {
    width: 85%;
    position: absolute;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 15px 0 rgba(251, 245, 245, 0.6);
    color: #fff;
    overflow: hidden;
}
.zuowen5 {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 45%;
    overflow: hidden;
}
.zuowen5 > h2 {
    color: #5192e7;
    margin: 0 0 10px 0px;
}
.zuowen5 > p {
    color: #54a3f1;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 20px;
}
.zuowen5 > p:nth-of-type(2) {
    width: 90%;
}
.bisaity5 > img {
    position: absolute;
    width: 36%;
    height: 440px;
    right: 22px;
    top: 24px;
    border-radius: 10px;
}
.bisaity5 > img:hover {
    animation: zhuan3deg 0.5s forwards;
}
