/* 顶部横导航 */
.yidong {
    left: 660px;
}
.genzong a:nth-of-type(1):hover ~ .yidong {
    left: 300px;
}

/* 打字机 */
.gekai {
    margin: 0 auto 100px;
}
.gekai:before {
    content: "H-A-L-L O-F F-A-M-E";
}

/* 名人堂 */
.mrt {
    position: relative;
    height: 700px;
    width: 84%;
    box-shadow: 5px 5px 15px #82a8e2;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    perspective: 2000px;
    background: linear-gradient(332deg, #3885eb 35%, #ffffff 94%);
}
.mrt > h1 {
    /* color: #1e88e5; */
    font-size: 2.6rem;
    color: #417ec4;
    margin: 20px 0 10px 30px;
}
.mrt > h4 {
    color: #2a89e7;
    margin: 0 0 10px 30px;
}
/* 旋转木马 */
/* .lanwai {
    position: absolute;
    background-color: #62a3ee;
    height: 570px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    bottom: 0;
} */
.mrt > section {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 80px auto;
    transform-style: preserve-3d;
    /* background-color: #3c71e0; */
    animation: xuanzhuan 14s linear infinite;
}
@keyframes xuanzhuan {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.mrt > section:hover {
    animation-play-state: paused;
}

.mrt > section div {
    box-sizing: border-box;
    position: absolute;
    background-color: #3c71e0;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: auto;
    height: 410px;
    background-size: cover!important;
    background-attachment:local!important;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    /* animation: xuanzhuan 8s linear infinite; */
}
.mrt > section div:hover {
    box-shadow: 1px 1px 15px 1px #cfddf1;
}
section div:nth-child(1) {
    transform: rotateY(0deg) translateZ(350px);
    background: url(../images/superstar/拉莫斯.jpg) no-repeat;
}
section div:nth-child(2) {
    transform: rotateY(60deg) translateZ(350px);
    /* background-size: cover; */
    background-attachment: scroll;
    background: url(../images/superstar/梅西2.jpg) no-repeat;
}
section div:nth-child(3) {
    background: url(../images/superstar/德罗巴1.jpg) no-repeat;
    /* background-position-x: -25px; */
    transform: rotateY(120deg) translateZ(350px);
}
section div:nth-child(4) {
    background: url(../images/superstar/C罗3.jpg) no-repeat;
    transform: rotateY(180deg) translateZ(350px);
}
section div:nth-child(5) {
    background: url(../images/superstar/内马尔5.jpg) no-repeat;
    transform: rotateY(240deg) translateZ(350px);
}
section div:nth-child(6) {
    background: url(../images/superstar/小罗2.jpg) no-repeat;
    transform: rotateY(300deg) translateZ(350px);
}
/* 6位球星介绍 */
.sixstar {
    width: 84%;
    margin: 30px auto 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #82a8e2;
    overflow: hidden;
    box-sizing: border-box;
    padding: 25px;
    height: 2000px;
}
div[class^="san"] {
    /* background-color: #a3c2e4; */
    background-color: rgba(126, 168, 236, 0.164);
    width: 70%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 2px 2px 15px 5px rgb(80, 139, 46); */
}
.san2,
.san4,
.san6 {
    /* position: relative; */
    margin: 30px 0;
    margin-left: 30%;
}
[class^="san"]:hover {
    box-shadow: 2px 2px 16px 3px rgb(138, 180, 235);
    background-color: rgba(213, 242, 255, 0.3);
}
.imghid {
    background-color: rgba(241, 166, 68, 0.815);
    overflow: hidden;
    width: 30%;
    height: 100%;
    display: inline-block;
}
.sixstar > .san2 > .imghid,
.sixstar > .san4 > .imghid,
.sixstar > .san6 > .imghid {
    margin-left: 70%;
}
[class^="nei"] {
    background-color: pink;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    /* display: inline-block; */
}
.nei1 {
    background: url(../images/superstar/拉莫斯2.jpg) no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.nei2 {
    background: url(../images/superstar/梅西3.jpg) no-repeat;
    background-position:bottom;
    background-size: cover;
}
.nei3 {
    background: url(../images/superstar/德罗巴欧冠.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}
.nei4 {
    background: url(../images/superstar/C罗2.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
}
.nei5 {
    background: url(../images/superstar/内马尔4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.nei6 {
    background: url(../images/superstar/小罗1.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
}
[class^="nei"]:hover {
    transform: scale(1.15);
}
.wenzi {
    /* background-color: rgba(80, 156, 255, 0.616); */
    position: relative;
    width: 62%;
    left: 34%;
    bottom: 300px;
    line-height: 2;
    font-size: large;
    margin-top: 2%;
    color: #5192e7;
    /* color: #54a3f1; */
}
.san2 .wenzi:nth-of-type(2),.san4 .wenzi:nth-of-type(2),.san6 .wenzi:nth-of-type(2) {
    left: 4%;
}

/* 知名教练 */
.jiaolian {
    position: relative;
    height: 1000px;
    width: 84%;
    box-shadow: 5px 5px 15px #82a8e2;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.jiaolian > h1 {
    /* color: #1e88e5; */
    font-size: 2.6rem;
    color: #417ec4;
    margin: 20px 0 10px 30px;
}
.jiaolian > h4 {
    color: #2a89e7;
    margin: 0 0 10px 30px;
}
.jlshang {
    background-color: #3c71e0;
    width: 100%;
    height: 300px;
}
.jl1,
.jl2 {
    float: left;
    width: 35%;
    height: 300px;
    background-color: #82a8e2;
}
.jl1 {
    margin-left: 30px;
}
.jl1wz {
    float: left;
    width: 0;
    height: 300px;
    overflow: hidden;
    background-color: #3c71e0;
    transition: width 0.4s ease;
    color: aliceblue;
    box-sizing: border-box;
}
.jl1:hover ~ .jl1wz {
    width: 270px;
}
